@model dotnet_inmob_primer_entrega.Models.Propietario

@{
    ViewData["Title"] = "Crear Propietario";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>DNI</label>
        <input asp-for="DNI" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input asp-for="Apellido" class="form-control" />
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Domicilio</label>
        <input asp-for="Domicilio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
